/* anything */

body{
    background-color:#FFCDD2;
   
  }
  .slogn{
    text-align: center;
    font-style:oblique;
  }
  .title{
      text-align: center;
    
  }

  nav{
    text-align:center;
    
  }