*{
    margin: 0;
}
h1{
    text-align: center;
    color:rgb(244,145,145);
    margin: 10px 0 10px 0;
    font-family: 'Sofia',sans-serif;
}
.website{
    opacity: 0;
}
header{
    display:flex;
    width: 100%;
    height: 5%;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.hamburger{
    color: black;
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;

}
.burger{
    list-style: none;
}

.hiddenbar{
    position: absolute;
    list-style: none;
    padding: 20px;
    text-align: center;
    background-color: rgb(255,245,245);
    border-radius: 10px;
    margin-top: -67px;
    margin-left: -70px;
    visibility: hidden;
    z-index: 10;
}
.hiddenbar li{
    padding-top: 50px;
    cursor: pointer;
}

.hiddenbar li:nth-child(7){
    padding-bottom: 50px;
}

.subbar{
    padding-top: 5px;
    list-style: none;
}
.subbar a{
    color: grey;
    text-decoration: none;
}

.hiddensecondbar{
    display: none;
    padding: 5px
}
.hiddensecondbar li{
    list-style: none;
    padding-top: 15px;
}
.hiddensecondbar li a{
    color: grey;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 3rem;
    background-color: rgb(255,245,245);
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}


.container .tag a{
    text-decoration: none;
    color: grey;
}
.tag{
    margin-top: 1rem;
    list-style: none;
}
.subtag{
    list-style: none;
    padding: 10px;
    text-align: center;
    background-color: rgb(255,245,245);
    display: none;
    border-radius: 10px;
    margin-top: 15px;
}
.fa-caret-down{
    transform: translateY(-5%);
    font-size:15px;
    transition:transform 0.2s;
}
span{
    transform: translateY(-5%);
    font-size:15px;
    transition:transform 0.2s;
}
.navbar{
    width:100%;
    height: 10%;
    z-index: 10;
    background-image: url("picture/photo-1595475884562-073c30d45670.jpg");
    background-size: 1920px;
    background-position: -1px -759px;
    background-repeat: no-repeat;

}
.conditioner{
    width: 650px;
    height:450px;
}

.navbar p{
    display: flex;
    font-family: 'Sofia',sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding:25px;
}

.description{
    width: 85%;
    height: 60%;
    margin: 30px auto auto auto;
    display: grid;
    grid-template-columns: 680px 800px 82px;
    grid-template-rows: 30px 300px 300px;
    gap: 5px;
}
.description img{
    grid-column: 1;
    grid-row: 2;
}

.description h3{
    font-size: 1.5em;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}
.description p{
    font-size: 1.2em;
    font-weight: normal;
    grid-column: 2;
    grid-row: 2;
    width: 600px;
    height: 500px;
}

.description button{
    margin-left: 50px;
    grid-column: 3;
    grid-row: 1;
    width: 90px;
    height: 50px;
}
.selection{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
.selection1{
    grid-column: 2;
    grid-row: 3;
    width: 350px;
    height: 50px;
    padding-left: 10px;
}
.selection2{
    grid-column: 2;
    grid-row: 3;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 370px;
}
.comment{
    grid-column: 2;
    grid-row: 3;
    margin: 12px 0 0 490px;
    display:flex;
}

.comment input{
    flex-direction: row;
    width: 300px;
    height:100px;
    margin-left:10px;
}


.secondmenu{
    position: absolute;
    top: 40%;
    left: 720px;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    padding-top: 5px;
    background-color:white;
    display: none;
}
.secondmenu p{
    text-align: center;
    padding-top: 10px;
}
.secondmenu button{
    cursor: pointer;
    background-color: #FFCDD2;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid lightpink;
    margin-left: 100px;
    margin-top: 120px;
}


@media only screen and (max-width: 1200px) {
    .container .tag a{
        display: none;
    }
    .hamburger{
        display: block;
    }
}


@media only screen and (max-width: 1200px){
    .conditioner{
        width: 500px;
        height: 400px;
        margin: auto;
    }
    .description{
        grid-template-columns: 812px;
        grid-template-rows: 30px 400px 50px 320px 100px 100px;
        gap: 5px;
    }
    .description h3{
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        margin-top: 10px;
    }
    .description button{
        grid-column:1;
        grid-row: 3;
        margin-left: 600px;
    }
    .description p{
        grid-column: 1;
        grid-row: 4;
        width: 500px;
        height: 500px;
        margin: auto;
        text-align: center;
    }

    .description .selection1{
        grid-column: 1;
        grid-row:5;
        margin: auto;
    }
    .description .selection2{
        grid-column: 1;
        grid-row:6;
    }
    .description .comment{
        grid-column: 1;
        grid-row:7;
        margin: auto;
    }

}
