li{
  list-style: none;
  
}
body {
    margin: 0;
    font: 1em system-ui;
  }
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", Times, serif;
    text-align: center;
    color: rgb(244, 145, 145);
    margin: 10px 0 10px 0;
  }
  header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    height: 5%;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 245, 245);
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
  .container .tag a {
    text-decoration: none;
    color: grey;
  }
  .tag {
    margin-top: 1rem;
    list-style: none;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-self:space-around;
    vertical-align: middle;
    color: rgb(255, 85, 85);
    font-family: sofia, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    width: 100%;
    height: 5rem;
    object-fit: cover;
    background-image: url("../picture/photo-1595475884562-073c30d45670.jpg");
    background-size: 1920px;
    background-position: -1px -759px;
    background-repeat: no-repeat;
    padding-bottom: 2em;
  }
  nav {
    color: rgb(255, 255, 255);
    background-color: grey;
    width: 100%;
    padding: 0;
  }
  .path ol {
    list-style-type: none;
    padding-left: 0;
    margin: 1em 1em;
  }
  .path {
    display: inline-block;
  }
  .path a::after {
    display: inline-block;
    color: #000;
    content: ">";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }
  .card{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #eeced9, #f19eb3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .Cart-Container{
    width: 70%;
    height: 85%;
    background-color: #f792a6;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #f371b233;
   }
   .orderheader{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
   .orderheading{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
   }
   .action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #e44c77;
    cursor: pointer;
    border-bottom: 1px solid #e38080;
   }
   .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .about{
    height: 100%;
   }
   .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
   }
   .subbody{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .CartContainer{
    width: 70%;
    height: 90%;
    background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 10px 20px #1687d933;
  }
  
  .Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Heading{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
  }
  
  .Action{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
  }
  
  .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image-box{
    width: 15%;
    text-align: center;
  }
  .about{
    height: 100%;
    width: 24%;
  }
  .title{
    padding-top: 10px;
    line-height: 10px;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
  }
  .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
  }
  
  .counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
  }
  .count{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
  }
  
  .prices{
    height: 100%;
    text-align: right;
  }
  .amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
  }
  .save{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
  }
  .remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
  }
  
  .pad{
    margin-top: 5px;
  }
  
  hr{
    width: 66%;
    float: right;
    margin-right: 5%;
  }
  .checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
  }
  .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Subtotal{
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
  }
  .items{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
  }
  .total-amount{
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
  }
  .button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #ffb8d0, #e98aa9);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
  }